body{
display:flex;
justify-content:center;
}
.question {
    width:600px;
    position:center;
    display: block;
    justify-content: center;
    background-color: #d9dcd6;
    flex-basis:600px;
    padding:5px;
}

textarea {
    width: 500px;
    height:200px;
}

@media(max-width:500px) 
{
    textarea {
        width: 400px;
        height: 100px;
    }
}