.mainBlock {
  display: flex;
}
.works-block {
  padding: 10px;
  border-bottom: 1px solid #455a4f;
}

.mainBlock p {
  width: 300px;
  color: #e7e8e3;
  padding: 10px;
}

.works-block h1 {
  color: #d9dcd6;
}

.works-contents {
  display: grid;
  place-content: center;
  width: 50%;
  padding-bottom: 10px;
  background-color: #6e8682;
}

body {
  place-items: center;
}

@media (max-width: 1000px) {
  .works-contents {
    padding-left: 10px;
    display: grid;
    place-content: center;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .scroll-infinity {
    width: 572px;
  }
  .works-contents {
    display: grid;
    place-content: center;
    width: 562px;
  }

  .works-block h1 {
    padding-left: 20px;
    color: #d9dcd6;
    font-size: 2em;
  }

  .works-block {
    padding-left: 0;
    border-bottom: 1px solid #455a4f;
  }

  .mainBlock p {
    padding-left: 0;
  }
}

.card-grid-image {
  display: flex;
  flex-direction: column;
  width: var(--responsive-device-width);
  align-items: flex-start;
  gap: var(--size-space-1200);
  padding: var(--size-space-1600);
  position: relative;
  background-color: var(--color-background-default-default);
}

.card-grid-image .text-content-heading {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
}

.card-grid-image .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.card-grid-image .div {
  position: relative;
  align-self: stretch;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: var(--color-text-default-secondary);
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.card-grid-image .cards {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 357px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  gap: var(--size-space-1200);
}

.card-grid-image .card {
  display: flex;
  flex-wrap: wrap;
  min-width: 240px;
  height: 210px;
  align-items: flex-start;
  gap: var(--size-space-600);
  padding: var(--size-space-600);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.card-grid-image .image {
  position: relative;
  width: 160px;
  height: 160px;
  background: linear-gradient(
    0deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(227, 227, 227, 1) 100%
  );
}

.card-grid-image .body {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  align-items: flex-start;
  gap: var(--size-space-400);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.card-grid-image .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.card-grid-image .p {
  position: relative;
  align-self: stretch;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-secondary);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.image img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
