.mainBlock {
    display: flex;
}
.works-block {
    padding:10px;
    border-bottom:1px solid #455a4f;
}

.mainBlock p{
    width:300px;
    color:#e7e8e3;
    padding:10px;
}

.works-block h1{
    color:#d9dcd6;
}

.works-contents {
    display: grid;
    place-content: center;
    width:50%;
    padding-bottom: 10px;
    background-color: #6e8682;
}

body {
    place-items: center;
}

@media(max-width:1000px) {
    .works-contents {
        padding-left:10px;
        display: grid;
        place-content: center;
        width: 100%;
    }
}

@media(max-width:500px) {
    .scroll-infinity
    {
        width:572px;
    }
    .works-contents {
        display: grid;
        place-content: center;
        width: 562px;
    }

    .works-block h1 {
        padding-left:20px;
        color: #d9dcd6;
        font-size: 2em;
    }

    .works-block {
        padding-left:0;
        border-bottom: 1px solid #455a4f;
    }

    .mainBlock p {
        padding-left:0;
    }
}