body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 4em;
    text-align: left;
    color:#ab0d0d;
}

p
{
 font-size:24px;
}

div.block{
    background-color:#c0edaa;
    border:1px solid #000000;
}


@media(min-width: 100px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 15px;
    }


    div.img {
        text-align: center;
    }

    img {
        width: 250px;
        height: 250px;
    }
}

@media(min-width: 588px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 15px;
    }

    nav {
        flex-direction: column
    }

    div.img {
        text-align: center;
    }

    img {
        width: 300px;
        height: 300px;
    }
}

@media(min-width: 875px) {
    h1 {
        font-size: 3em;
    }

    p {
        font-size: 24px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    div.img{
        text-align:center;
    }

    img {
        width: 350px;
        height: 350px;
    }
}

@media (min-width: 1420px) {
    body{
       display: flex;
    }
    div.block{
        flex:1;
    }

    p{
        font-size:28px;
    }
    img {
        width: 400px;
        height: 400px;
    }

}






